extends layout

block content
	h1 #{title}
	form(method="POST", action="/polls/add")
		#form-group
			label Title: 
			input.form-control(name="title",type="text")
		#form-group
			label  Option 1: 
			input.form-control(name="option0",type="text")
			label  Option 2: 
			input.form-control(name="option1",type="text")
			label  Option 3: 
			input.form-control(name="option2",type="text")
			label  Option 4: 
			input.form-control(name="option3",type="text")
		br
		input.btn.btn-primary(type="submit",value="Submit")
