extends layout

block content
	div.central
		div.row
			h1 Sign up
			br
			if errors
			p #{errors}
			form(method="POST", action="/users/register")
				#form-group
					label  Username: 
					input.form-control(name="name",type="text")
				#form-group
					label  Email: 
					input.form-control(name="email",type="text")
				#form-group
					label  Password: 
					input.form-control(name="password",type="password")
				#form-group
					label  Confirm password: 
					input.form-control(name="password2",type="password")
				br
				input.btn.btn-primary.login-button(type="submit",value="Submit")
				br
			div.social-buttons
					h4 Register with:
					a.btn.btn-fb(href='/users/auth/facebook')
						i.fa.fa-facebook
						| Facebook
					a.btn.btn-tw(href='/users/auth/twitter') 
						i.fa.fa-twitter
						| Twitter



